@use "variables.scss";
.game-content {
    display: none;
    align-content: center;
    justify-items: center;
}

.customer-order-display {
    font-size: medium;
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 30px;
    @include variables.tablet {
        line-height: 50px;
    }
    @include variables.desktop {
        font-size: x-large;
        line-height: 60px;
    }
    &__order {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
.top-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "reset-game-btn" "customer-order-display__header";
    column-gap: 8vw;
}
.reset-game-btn,
.countdown-timer-div,
.reset-game-btn-end,
.dessert-mode-btn {
    background-color: purple;
    border: black solid 2px;
    color: white;
    width: 80px;
    height: 30px;
    margin-top: 1vw;
    font-family: "Playwrite AU NSW", cursive;
    font-size: xx-small;
    border-radius: 10px;
    @include variables.tablet {
        margin-left: 2vw;
        width: 120px;
        height: 50px;
        font-size: small;
    }
    @include variables.desktop {
        margin-left: 2vw;
        width: 120px;
        height: 70px;
        font-size: medium;
    }
    &:hover {
        transition: 2s, ease;
        transform: scale(1.1);
    }
}
.countdown-timer-div {
    margin-top: 1vw;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    @include variables.tablet {
        line-height: 50px;
    }
    @include variables.desktop {
        margin-right: 2vw;
        line-height: 70px;
        font-size: small;
    }
}
.feedback-pizza-row {
    display: none;
    transition: opacity 0.6s ease;
    opacity: 0;
}
.feedback-pizza-row.show {
    opacity: 1;
    display: block;
    text-align: center;
}
.feedback-pizza-row__display {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 120px;
    height: 120px;
    @include variables.desktop {
        width: 200px;
        height: 200px;
    }
}
.feedback__header {
    position: absolute;
    z-index: 1;
    font-size: medium;
    @include variables.tablet {
        font-size: large;
    }
    @include variables.desktop {
        font-size: xx-large;
    }
    &--img {
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: 0;
        @include variables.tablet {
            width: 180px;
            height: 160px;
        }
        @include variables.desktop {
            width: 280px;
            height: 280px;
        }
    }
}

.pizza-loading-images {
    display: none;
    position: absolute;
    height: 120px;
    width: 120px;
    &__base {
        z-index: 0;
    }
    &__tomato-sauce {
        z-index: 1;
    }
    &__pesto {
        z-index: 1;
    }
    &__bbq {
        z-index: 1;
    }

    &__cheese {
        z-index: 2;
    }
    &__mushroom {
        z-index: 3;
    }
    &__sliced-tomato {
        z-index: 4;
    }
    &__pineapple {
        z-index: 5;
    }
    &__onion {
        z-index: 6;
    }
    @include variables.desktop {
        height: 200px;
        width: 200px;
    }
}
.pizza-loading-area {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border: purple 2px dashed;
    align-self: center;
    justify-self: center;
    @include variables.desktop {
        width: 200px;
        height: 200px;
    }
}
.pizza-content__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ingredient-buttons {
    font-size: x-small;
    background-color: transparent;
    border: none;
    &__icon {
        width: 40px;
        height: 40px;
        @include variables.desktop {
            width: 60px;
            height: 60px;
        }
        &--pesto,
        &--bbq,
        &--tomato-sauce {
            width: 40px;
            height: 50px;
            @include variables.desktop {
                width: 60px;
                height: 70px;
            }
        }

        // styling oven and base image
        &--bake,
        &--base {
            width: 60px;
            height: 60px;
            @include variables.desktop {
                width: 90px;
                height: 90px;
            }
        }
    }
    // styling oven button/container
    &__bake {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Playwrite AU NSW", cursive;
        font-size: x-large;
        font-weight: 600;
        background-color: transparent;
        border: dashed purple 2px;
        width: 200px;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        @include variables.desktop {
            width: 250px;
        }
    }
}

#binButton {
    width: 60px;
    height: 60px;
    &:hover {
        transform: rotate(15deg);
    }
    @include variables.desktop {
        width: 80;
        height: 80px;
    }
}

.base-and-sauces {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bin-pizza-btn {
    background-color: transparent;
    border: none;
}

.icons {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: rotate(-15deg);
    }
}
.bake-and-bin {
    display: flex;
}
.win-count {
    font-size: large;
    margin-bottom: 0px;
}
.end-screen-content {
    display: none;
}
.winner-screen-content {
    display: none;
}
.winner-screen-styling {
    // display: flex;
    &__header {
        text-align: center;
    }
    &__image {
        width: 200px;
        height: 200px;
        border-radius: 50px;
        background-color: #3b2c2f;
        border: 5px solid #a264e9;
        box-shadow: 0 0 20px #a264e9;
        animation: glow 3s infinite;
        @include variables.tablet {
            width: 300px;
            height: 300px;
        }
        @include variables.desktop {
            width: 400px;
            height: 400px;
        }
    }
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px rgb(223, 98, 248);
    }
    to {
        box-shadow: 0 0 10px 10px rgb(223, 98, 248);
    }
}
.reset-game-btn-winner {
    align-self: flex-start;
    margin: 0;
}

audio {
    width: 40vw;
    height: 4vw;
    @include variables.tablet {
        width: 20vw;
    }
    @include variables.desktop {
        width: 20vw;
    }
}
.audio-controls {
    display: flex;
    justify-content: center;
}
