@use "variables";
body {
    background-color: lavender;
}

.landing-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    @include variables.desktop {
        margin-top: 200px;
    }
}

.game-content {
    display: none;
    align-content: center;
    justify-items: center;
}

.pizza-content-styling {
    border: purple solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    @include variables.desktop {
        width: 70%;
        margin-top: 100px;
        padding: 30px;
    }
}
.customer-order-display {
    font-size: medium;
}
.pizza-loading-images {
    display: none;
    position: absolute;
    height: 120px;
    width: 120px;
    @include variables.desktop {
        height: 200px;
        width: 200px;
    }

    &__base {
        z-index: 0;
    }
    &__tomato-sauce {
        z-index: 1;
    }
    &__pesto {
        z-index: 1;
    }
    &__bbq {
        z-index: 1;
    }

    &__cheese {
        z-index: 2;
    }
    &__mushroom {
        z-index: 3;
    }
    &__sliced-tomato {
        z-index: 4;
    }
    &__pineapple {
        z-index: 5;
    }
    &__onion {
        z-index: 6;
    }
}

.pizza-loading-area {
    width: 120px;
    height: 120px;
    @include variables.desktop {
        width: 200px;
        height: 200px;
    }
    border: purple 2px dashed;
    align-self: center;
}

.pizza-content__ingredients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icons {
    width: 40px;
    height: 40px;
    @include variables.desktop {
        width: 60px;
        height: 60px;
    }
}
.ingredient-buttons {
    // display: flex;
    font-size: x-small;
    background-color: transparent;
    border: none;
    &__bake {
        background-color: transparent;
        border: dashed purple 2px;
        width: 250px;
    }
}
.base-and-sauces {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toppings {
    display: flex;
}
.bin-pizza-btn {
    background-color: transparent;
    border: none;
}
