@use "variables";
body {
    background-color: lavender;
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
}

.landing-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    width: 90%;
    border: purple solid;
    @include variables.desktop {
        margin-top: 200px;
        margin-left: 50px;
        justify-content: center;
    }
    &__img {
        width: 40vw;
        @include variables.desktop {
            width: 40vw;
        }
    }
    &__header {
        text-align: center;
        font-size: large;
    }
    &__intro {
        text-align: center;
        font-size: x-small;
    }
}

.overlay-container {
    position: relative;
    width: 50%;
    &__image {
        display: block;
        // width: 100%;
        height: auto;
    }
}
.overlay-container:hover .overlay {
    height: 100%;
    &__text {
        white-space: wrap;
        color: white;
        font-size: 9px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        width: 70%;
        transform: translate(-50%, -50%);
        @include variables.desktop {
            font-size: 20px;
        }
        @include variables.tablet {
            font-size: 15px;
        }
    }
}
.overlay-container:hover .overlay-container__image {
    transform: scale(0.7);
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: purple;
    overflow: hidden;
    opacity: 0.95;
    width: 90%;
    height: 0;
    transition: 0.5s ease;
}

.game-content {
    display: none;
    align-content: center;
    justify-items: center;
}

.pizza-content-styling {
    border: purple solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
    @include variables.desktop {
        width: 80%;
        margin-top: 80px;
        padding: 60px;
    }
}
.customer-order-display {
    font-size: small;
    margin: 5px;
    @include variables.desktop {
        font-size: x-large;
    }
}
.pizza-loading-images {
    display: none;
    position: absolute;
    height: 120px;
    width: 120px;
    &__base {
        z-index: 0;
    }
    &__tomato-sauce {
        z-index: 1;
    }
    &__pesto {
        z-index: 1;
    }
    &__bbq {
        z-index: 1;
    }

    &__cheese {
        z-index: 2;
    }
    &__mushroom {
        z-index: 3;
    }
    &__sliced-tomato {
        z-index: 4;
    }
    &__pineapple {
        z-index: 5;
    }
    &__onion {
        z-index: 6;
    }
    @include variables.desktop {
        height: 200px;
        width: 200px;
    }
}

.pizza-loading-area {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border: purple 2px dashed;
    align-self: center;
    @include variables.desktop {
        width: 200px;
        height: 200px;
    }
}

.pizza-content__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ingredient-buttons {
    // display: flex;
    font-size: x-small;
    background-color: transparent;
    border: none;
    &__icon {
        width: 40px;
        height: 40px;
        @include variables.desktop {
            width: 60px;
            height: 60px;
        }
        &--pesto,
        &--bbq,
        &--tomato-sauce {
            width: 40px;
            height: 50px;
            @include variables.desktop {
                width: 60px;
                height: 70px;
            }
        }

        // styling oven and base image
        &--bake,
        &--base {
            width: 60px;
            height: 60px;
            @include variables.desktop {
                width: 90px;
                height: 90px;
            }
        }
    }
    // styling oven button/container
    &__bake {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Playwrite AU NSW", cursive;
        font-size: x-large;
        font-weight: 600;
        background-color: transparent;
        border: dashed purple 2px;
        width: 200px;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        @include variables.desktop {
            width: 250px;
        }
    }
}

#binButton {
    width: 60px;
    height: 60px;
    &:hover {
        transform: rotate(15deg);
    }
    @include variables.desktop {
        width: 80;
        height: 80px;
    }
}

.base-and-sauces {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toppings {
    display: flex;
}

.bin-pizza-btn {
    background-color: transparent;
    border: none;
}

.icons {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: rotate(-15deg);
    }
}
.bake-and-bin {
    display: flex;
}
.win-count {
    font-size: large;
}

.end-screen-content {
    display: none;
}
